.listItem,
.listItemDone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width: 520px;
  .left {
    display: flex;
    align-items: center;
    input {
      margin-right: 10px;
    }
    strong {
      margin-right: 10px;
    }
    button {
      margin-left: 10px;
    }
  }
}

.listItemDone {
  text-decoration: line-through;
}
